@use 'variables' as *;

@mixin gradient-bg($color1, $color2) {
  background: linear-gradient(135deg, $color1 0%, $color2 100%);
}

body {
  margin: 0;
  font-family: $fonts-family, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: $gray-light;
  min-height: 100vh;
}

.app-container {
  min-height: 100vh;
  overflow-x: hidden;
}

// Sidebar
.sidebar {
  width: $sidebar-width;
  min-height: 100vh;
  @include gradient-bg($primary, $teal-light);
  color: white;
  transition: all $transition-time;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  
  &.collapsed {
    width: $sidebar-collapsed-width;
    
    .sidebar-text, 
    .logo-text,
    .pro-section,
    .dropdown-toggle::after,
    .user-info,
    hr {
      display: none;
      //display: block; /* Ensure text takes its own line */
 // font-size: 0.4rem; /* Adjust as needed */
    }
    .nav-link{
      color:rgba(255,255,255,0.5);
    }
  }}