//colores
$sidebar-bg: #f8f9fa;
$sidebar-border: #dee2e6;
$primary-color: #6c757d;
$hover-bg: #e9ecef;
$pro-section-bg: #e9ecef;

// Dimensiones
$sidebar-width: 280px;
$sidebar-collapsed-width: 70px;
$logo-height: 60px;

// Transiciones
$transition-time: 0.3s;